body{
    margin: 0;
    background-image: url('images/background2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    
}
.container{
    width: 70vw;
    height: 100vh;
    background-color: aliceblue;
}
.task{
    display: flex;
    margin-top: 10px;
    padding: 1em;
    border: 1px solid gray;
}
section div{
    padding: 0.5em;
}
.task_update{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
    padding: 1em;
}
.buttons button{
    width: 100px;
    padding: 1em;
    border: none;
    height: 100%;
}
.fa-check{
    color:green;
}
.fa-trash-can{
    color: red;
}